In [1]:
import pandas as pd
import numpy as np

## 1번 ~ 2번 문제

- 붓꽃 데이터 활용
(지난 주와 동일한 데이터, 다른 형태)

In [2]:
## 3번 ~ 5번 문제

- 이전 시즌의 클럽 축구 경기 데이터 활용
- 컬럼 명세서 : https://github.com/fivethirtyeight/data/tree/master/soccer-spi

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
## 데이터 불러오기
df = pd.read_csv("https://raw.githubusercontent.com/minsuk1003/Python_DA_Study/main/Week%202/spi_matches_latest.csv")
df.head()

,season,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,...,importance1,importance2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2
0,2019,2019-03-01,1979,Chinese Super League,Shandong Luneng,Guizhou Renhe,48.22,37.83,0.5755,0.1740,...,45.9,22.1,1.0,0.0,1.39,0.26,2.05,0.54,1.05,0.00
1,2019,2019-03-01,1979,Chinese Super League,Shanghai Greenland,Shanghai SIPG,39.81,60.08,0.2387,0.5203,...,25.6,63.4,0.0,4.0,0.57,2.76,0.80,1.50,0.00,3.26
2,2019,2019-03-01,1979,Chinese Super League,Guangzhou Evergrande,Tianjin Quanujian,65.59,39.99,0.7832,0.0673,...,77.1,28.8,3.0,0.0,0.49,0.45,1.05,0.75,3.15,0.00
3,2019,2019-03-01,1979,Chinese Super League,Wuhan Zall,Beijing Guoan,32.25,54.82,0.2276,0.5226,...,35.8,58.9,0.0,1.0,1.12,0.97,1.51,0.94,0.00,1.05
4,2019,2019-03-01,1979,Chinese Super League,Chongqing Lifan,Guangzhou RF,38.24,40.45,0.4403,0.2932,...,26.2,21.3,2.0,2.0,2.77,3.17,1.05,2.08,2.10,2.10

### 3-1. 데이터프레임의 모든 컬럼을 출력하고, ["season", "date", "league", "team1", "team2", "score1", "score2"] 컬럼만 지정하여 데이터프레임을 업데이트하시오.

In [9]:
## 밑에 코드 작성
# 데이터 불러오기
df = pd.read_csv("https://raw.githubusercontent.com/minsuk1003/Python_DA_Study/main/Week%202/spi_matches_latest.csv")

# 모든 컬럼 출력
print("전체 컬럼:")
print(df.columns)

# 특정 컬럼 선택
selected_columns = ["season", "date", "league", "team1", "team2", "score1", "score2"]

# 데이터프레임 업데이트
df_selected = df[selected_columns]

# 결과 출력
print("\n선택된 컬럼으로 업데이트된 데이터프레임:")
print(df_selected.head())

전체 컬럼:
Index(['season', 'date', 'league_id', 'league', 'team1', 'team2', 'spi1',
       'spi2', 'prob1', 'prob2', 'probtie', 'proj_score1', 'proj_score2',
       'importance1', 'importance2', 'score1', 'score2', 'xg1', 'xg2', 'nsxg1',
       'nsxg2', 'adj_score1', 'adj_score2'],
      dtype='object')

선택된 컬럼으로 업데이트된 데이터프레임:
   season        date                league                 team1  \
0    2019  2019-03-01  Chinese Super League       Shandong Luneng
1    2019  2019-03-01  Chinese Super League    Shanghai Greenland
2    2019  2019-03-01  Chinese Super League  Guangzhou Evergrande
3    2019  2019-03-01  Chinese Super League            Wuhan Zall
4    2019  2019-03-01  Chinese Super League       Chongqing Lifan

               team2  score1  score2
0      Guizhou Renhe     1.0     0.0
1      Shanghai SIPG     0.0     4.0
2  Tianjin Quanujian     3.0     0.0
3      Beijing Guoan     0.0     1.0
4       Guangzhou RF     2.0     2.0

### 3-2. Barclays Premier League 경기의 홈팀과 원정팀의 득점 분포를 각각 구하시오.

- describe 메소드 또는 value_counts 메소드 등을 활용할 수 있는데, 어떤 메소드를 활용하는 것이 좋을지 생각 후 결정해보기 (정답은 없음)

In [19]:
best_df = df[df['league'] == 'Barclays Premier League']

# 홈팀 득점
home_team_scores_counts = bpl_df['score1'].value_counts().sort_index()

# 원정팀 득점
neighbor_team_scores_counts = bpl_df['score2'].value_counts().sort_index()


print("\n홈팀 득점 분포:")
print(home_team_scores_counts)

print("\n원정팀 득점 분포:")
print(neighbor_team_scores_counts)

홈팀 득점 분포:
0.0     82
1.0    124
2.0     90
3.0     43
4.0     28
5.0      6
6.0      5
7.0      1
9.0      1
Name: score1, dtype: int64

원정팀 득점 분포:
0.0    125
1.0    125
2.0     76
3.0     35
4.0     15
5.0      3
6.0      1
Name: score2, dtype: int64

### 4. Everton, Tottenham Hotspur, Atletico Madrid 팀의 모든 경기를 출력하시오.

> 주의사항 : 홈 경기와 원정 경기를 모두 출력해야 함

In [20]:
## 밑에 코드 작성

# Everton, Tottenham Hotspur, Atletico Madrid 팀의 모든 경기 출력
selected_teams = ['Everton', 'Tottenham Hotspur', 'Atletico Madrid']
selected_matches = df[df['team1'].isin(selected_teams) | df['team2'].isin(selected_teams)]

# 결과 출력
print(selected_matches)

       season        date  league_id                    league  \
557      2022  2022-08-06       2411   Barclays Premier League
572      2022  2022-08-06       2411   Barclays Premier League
686      2022  2022-08-13       2411   Barclays Premier League
827      2022  2022-08-14       2411   Barclays Premier League
862      2022  2022-08-15       1869  Spanish Primera Division
...       ...         ...        ...                       ...
9822     2022  2023-05-24       1869  Spanish Primera Division
9998     2022  2023-05-28       2411   Barclays Premier League
10000    2022  2023-05-28       2411   Barclays Premier League
10011    2022  2023-05-28       1869  Spanish Primera Division
10210    2022  2023-06-04       1869  Spanish Primera Division

                   team1              team2   spi1   spi2   prob1   prob2  \
557    Tottenham Hotspur        Southampton  81.87  61.33  0.7059  0.1182
572              Everton            Chelsea  63.82  85.73  0.1763  0.6092
686          Aston Villa            Everton  73.64  63.68  0.5392  0.2176
827              Chelsea  Tottenham Hotspur  86.03  81.93  0.4919  0.2694
862               Getafe    Atletico Madrid  65.51  80.68  0.2312  0.4817
...                  ...                ...    ...    ...     ...     ...
9822            Espanyol    Atletico Madrid  58.84  81.95  0.2729  0.4869
9998        Leeds United  Tottenham Hotspur  59.16  72.08  0.3238  0.4577
10000            Everton    AFC Bournemouth  63.58  59.04  0.5809  0.1997
10011    Atletico Madrid      Real Sociedad  80.02  75.74  0.4859  0.2468
10210         Villarreal    Atletico Madrid  72.91  79.67  0.3721  0.3820

       ...  importance1  importance2  score1  score2   xg1   xg2  nsxg1  \
557    ...         60.3         33.6     4.0     1.0  1.91  0.54   1.88
572    ...         28.5         57.5     0.0     1.0  0.50  2.12   0.95
686    ...         25.3         30.9     2.0     1.0  2.38  1.54   1.96
827    ...         64.6         68.0     2.0     2.0  1.85  1.80   1.80
862    ...         25.2         62.4     0.0     3.0  1.20  1.35   1.03
...    ...          ...          ...     ...     ...   ...   ...    ...
9822   ...         94.6          0.0     3.0     3.0  3.55  3.11   3.31
9998   ...         26.4          0.0     1.0     4.0  1.49  2.07   2.46
10000  ...        100.0          0.0     1.0     0.0  1.05  0.50   1.10
10011  ...          0.0         26.8     2.0     1.0  0.83  1.12   0.63
10210  ...          0.0          0.0     2.0     2.0  1.93  1.19   1.68

       nsxg2  adj_score1  adj_score2
557     1.23        4.20        1.05
572     1.36        0.00        1.05
686     1.06        1.71        1.05
827     0.90        2.10        2.10
862     1.00        0.00        3.04
...      ...         ...         ...
9822    0.90        3.15        3.15
9998    0.67        1.05        3.68
10000   0.91        1.05        0.00
10011   1.09        2.04        1.05
10210   0.81        1.89        2.10

[126 rows x 23 columns]

- 정답 : 총 126개 행이 나와야 함

### 5. 세 팀이 2023년에 이긴 모든 경기를 출력하시오.

- 4번 문제 정답을 새 변수로 정의하면 더 편하게 할 수 있음

In [24]:
## 밑에 코드 작성
# 4번 문제 정답을 새 변수로 정의
selected_teams = ['Everton', 'Tottenham Hotspur', 'Atletico Madrid']
selected_matches = df[df['team1'].isin(selected_teams) | df['team2'].isin(selected_teams)]

# 2023년에 이긴 경기
win2023 = selected_matches[(selected_matches['date'].str.startswith('2023')) & (selected_matches['score1'] > selected_matches['score2'])]
print(win2023)

       season        date  league_id                    league  \
4917     2022  2023-01-19       2411   Barclays Premier League
4961     2022  2023-01-21       2411   Barclays Premier League
4995     2022  2023-01-21       1869  Spanish Primera Division
5371     2022  2023-02-04       2411   Barclays Premier League
5518     2022  2023-02-05       2411   Barclays Premier League
5613     2022  2023-02-11       2411   Barclays Premier League
5756     2022  2023-02-13       2411   Barclays Premier League
5789     2022  2023-02-14       1818     UEFA Champions League
5918     2022  2023-02-18       2411   Barclays Premier League
6016     2022  2023-02-19       2411   Barclays Premier League
6020     2022  2023-02-19       1869  Spanish Primera Division
6259     2022  2023-02-26       2411   Barclays Premier League
6346     2022  2023-03-01       2411   Barclays Premier League
6440     2022  2023-03-04       2411   Barclays Premier League
6489     2022  2023-03-04       1869  Spanish Primera Division
6707     2022  2023-03-11       2411   Barclays Premier League
6728     2022  2023-03-11       2411   Barclays Premier League
7101     2022  2023-03-18       1869  Spanish Primera Division
7560     2022  2023-04-02       1869  Spanish Primera Division
7663     2022  2023-04-08       2411   Barclays Premier League
7681     2022  2023-04-08       2411   Barclays Premier League
8190     2022  2023-04-16       1869  Spanish Primera Division
8496     2022  2023-04-23       2411   Barclays Premier League
8510     2022  2023-04-23       1869  Spanish Primera Division
8614     2022  2023-04-26       1869  Spanish Primera Division
8857     2022  2023-04-30       2411   Barclays Premier League
8961     2022  2023-05-03       1869  Spanish Primera Division
9021     2022  2023-05-06       2411   Barclays Premier League
9337     2022  2023-05-13       2411   Barclays Premier League
9459     2022  2023-05-14       1869  Spanish Primera Division
9759     2022  2023-05-21       1869  Spanish Primera Division
10000    2022  2023-05-28       2411   Barclays Premier League
10011    2022  2023-05-28       1869  Spanish Primera Division

                   team1                     team2   spi1   spi2   prob1  \
4917     Manchester City         Tottenham Hotspur  90.94  78.11  0.6625
4961     West Ham United                   Everton  71.89  59.02  0.5521
4995     Atletico Madrid           Real Valladolid  75.89  55.62  0.6750
5371             Everton                   Arsenal  58.34  87.23  0.1219
5518   Tottenham Hotspur           Manchester City  78.27  90.83  0.2400
5613      Leicester City         Tottenham Hotspur  68.48  79.30  0.2779
5756           Liverpool                   Everton  82.04  60.54  0.7118
5789            AC Milan         Tottenham Hotspur  71.52  77.84  0.3539
5918             Everton              Leeds United  60.62  67.58  0.3647
6016   Tottenham Hotspur           West Ham United  77.15  73.39  0.5283
6020     Atletico Madrid           Athletic Bilbao  76.79  74.68  0.4844
6259   Tottenham Hotspur                   Chelsea  77.88  80.40  0.4682
6346             Arsenal                   Everton  85.48  61.30  0.7550
6440       Wolverhampton         Tottenham Hotspur  64.75  78.44  0.2395
6489     Atletico Madrid                Sevilla FC  76.93  67.85  0.5774
6707   Tottenham Hotspur         Nottingham Forest  77.81  55.37  0.6935
6728             Everton                 Brentford  61.10  73.52  0.3344
7101     Atletico Madrid                  Valencia  78.80  68.53  0.5631
7560     Atletico Madrid                Real Betis  79.86  68.27  0.5299
7663   Manchester United                   Everton  78.41  62.09  0.6554
7681   Tottenham Hotspur  Brighton and Hove Albion  75.27  81.17  0.3565
8190     Atletico Madrid                   Almeria  81.17  55.76  0.6865
8496           Newcastle         Tottenham Hotspur  80.50  74.32  0.5475
8510           Barcelona           Atletico Madrid  86.86  81.50  0.5460
8614     Atletico Madrid                  Mallorca  81.37  66.26  0.6223
8857           Liverpool         Tottenham Hotspur  84.03  71.75  0.6356
8961     Atletico Madrid                     Cadiz  81.20  57.89  0.6768
9021   Tottenham Hotspur            Crystal Palace  72.16  72.59  0.4228
9337         Aston Villa         Tottenham Hotspur  77.21  72.88  0.4325
9459               Elche           Atletico Madrid  55.71  82.55  0.2578
9759     Atletico Madrid                   Osasuna  81.88  65.54  0.6109
10000            Everton           AFC Bournemouth  63.58  59.04  0.5809
10011    Atletico Madrid             Real Sociedad  80.02  75.74  0.4859

        prob2  ...  importance1  importance2  score1  score2   xg1   xg2  \
4917   0.1531  ...         69.7         53.9     4.0     2.0  2.45  1.24
4961   0.1954  ...         44.6         54.6     2.0     0.0  2.08  0.45
4995   0.1069  ...         64.2         48.4     3.0     0.0  4.30  0.56
5371   0.6879  ...         53.1         84.9     1.0     0.0  1.82  0.77
5518   0.5484  ...         61.4         81.2     1.0     0.0  1.70  1.07
5613   0.4929  ...         21.2         64.0     4.0     1.0  1.38  1.23
5756   0.1188  ...         46.1         50.4     2.0     0.0  2.20  0.44
5789   0.4026  ...         29.0         56.1     1.0     0.0  2.23  0.55
5918   0.3720  ...         63.8         47.6     1.0     0.0  1.76  0.79
6016   0.2307  ...         61.4         27.4     2.0     0.0  1.58  0.43
6020   0.2362  ...         86.6         67.7     1.0     0.0  1.15  1.13
6259   0.2771  ...         69.0         12.0     2.0     0.0  0.99  0.36
6346   0.0787  ...         88.4         54.1     4.0     0.0  2.81  1.22
6440   0.5096  ...         39.3         75.7     1.0     0.0  0.58  1.48
6489   0.1704  ...         58.8         21.9     6.0     1.0  2.88  1.77
6707   0.1125  ...         63.4         56.0     3.0     1.0  2.02  1.64
6728   0.4172  ...         60.9         12.9     1.0     0.0  1.75  1.98
7101   0.1772  ...         26.0         24.1     3.0     0.0  3.03  0.92
7560   0.2078  ...         27.7         80.6     1.0     0.0  2.02  0.41
7663   0.1452  ...         79.5         56.1     2.0     0.0  4.10  1.05
7681   0.4089  ...         54.8         65.4     2.0     1.0  0.59  1.62
8190   0.1180  ...          5.2         44.9     2.0     1.0  2.57  0.10
8496   0.2263  ...         93.1         50.4     6.0     1.0  3.75  1.12
8510   0.1910  ...         36.6          6.8     1.0     0.0  1.86  0.95
8614   0.1292  ...          1.5          0.7     3.0     1.0  2.53  0.76
8857   0.1837  ...         27.1          4.3     4.0     3.0  2.50  2.38
8961   0.1140  ...          0.9         39.6     5.0     1.0  3.69  0.03
9021   0.3299  ...          0.2          0.0     1.0     0.0  1.58  0.35
9337   0.3206  ...          0.0          0.4     2.0     1.0  1.67  1.29
9459   0.4952  ...          0.0          0.2     1.0     0.0  2.15  1.63
9759   0.1508  ...          1.5          0.0     3.0     0.0  1.87  0.82
10000  0.1997  ...        100.0          0.0     1.0     0.0  1.05  0.50
10011  0.2468  ...          0.0         26.8     2.0     1.0  0.83  1.12

       nsxg1  nsxg2  adj_score1  adj_score2
4917    1.53   1.08        3.70        2.10
4961    1.17   0.98        2.10        0.00
4995    2.07   0.83        3.15        0.00
5371    1.45   1.70        1.05        0.00
5518    1.38   1.21        1.05        0.00
5613    1.14   0.68        3.92        1.05
5756    0.87   0.72        2.10        0.00
5789    1.13   1.06        1.05        0.00
5918    1.93   1.26        1.05        0.00
6016    1.55   0.86        2.06        0.00
6020    1.08   1.27        1.05        0.00
6259    1.04   0.78        1.80        0.00
6346    1.75   0.64        3.93        0.00
6440    0.58   1.75        1.05        0.00
6489    1.62   0.48        5.52        1.05
6707    2.33   1.03        3.15        1.05
6728    0.67   2.29        1.05        0.00
7101    1.66   0.61        3.15        0.00
7560    1.98   0.47        1.05        0.00
7663    2.81   0.95        2.08        0.00
7681    1.17   2.00        2.10        1.05
8190    2.48   0.64        2.10        1.05
8496    2.80   0.40        6.30        1.05
8510    2.26   1.44        1.05        0.00
8614    2.28   0.58        2.97        1.05
8857    1.89   0.83        4.20        3.15
8961    2.25   0.09        5.18        1.05
9021    0.82   0.99        1.05        0.00
9337    2.01   0.60        2.06        1.05
9459    1.20   1.53        1.05        0.00
9759    1.52   1.73        2.84        0.00
10000   1.10   0.91        1.05        0.00
10011   0.63   1.09        2.04        1.05

[33 rows x 23 columns]